name: check repo

on: [ push, pull_request, merge_group ]

jobs:
  nix-fmt:
    name: Check Nix formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Check Nix formatting
        run: |
          echo "nix fmt version:"
          nix fmt -- --version

          set +e
          # "nixfmt" doesn't has a nice diff output for its `--check` command,
          # therefore we use `git diff`
          find . -name "*.nix" -type f -exec nix fmt {} \+

          # Show format diff
          git --no-pager diff

          # Report error, fail pipeline job
          set -e
          git --no-pager diff --quiet

  checks:
    name: nix flake check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - run: nix flake check
